<div class="comment <%= 'with-image' if comment.image? %>">
  <div class="header">
    <div style="background-image: url('<%= image_url('user-placeholder.png') %>')" class="face-lockup"></div>
    <div class="content">
      <p>Posted by <%= comment.user.username %></p>
      <p><%= time_ago_in_words comment.created_at %> ago</p>
    </div>
  </div>
  <div style="background-image: url('<%= image_url('dog-demo-2.png') %>')" class="image"></div>
  <div class="description-wrapper">
    <p class="description"><%= comment.content %></p>
    <!-- <div class="location&#45;sign"><i class="icon&#45;location"></i>Location point added</div> -->
  </div>
</div>
