<html ng-app="lightbox">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <link href="/last_markup/css/style.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/rrssb/1.6.0/css/rrssb.css" rel="stylesheet"/>
    <link href="/last_markup/css/vendor/angular-bootstrap-lightbox.css" rel="stylesheet"/>
    <link href="/last_markup/css/app.css" rel="stylesheet"/>

  <meta property="fb:app_id" content="1666717153644924"/>
  <meta property="og:title" content="<%= @report.normalized_title %>"/>
  <meta property="og:url" content="http://fuzzfinders.com/reports/<%= @report.id %>"/>
  <meta property="og:description" content="<%= @report.notes %>"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:image" content="<%= @report.image %>"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@FuzzFinders"/>
  <meta name="twitter:title" content="<%= @report.normalized_title %>"/>
  <meta name="twitter:description" content="<%= @report.notes %>"/>
  <meta name="twitter:image" content="<%= @report.image %>"/>
  <meta name="twitter:url" content="http://fuzzfinders.com/reports/<%= @report.id %>">

  <%= favicon_link_tag "icon-60.png", rel: "apple-touch-icon", sizes: "60x60" %>
  <%= favicon_link_tag "icon-76.png", rel: "apple-touch-icon", sizes: "76x76" %>
  <%= favicon_link_tag "icon-72.png", rel: "apple-touch-icon", sizes: "72x72" %>
  <%= favicon_link_tag "icon-114.png", rel: "apple-touch-icon", sizes: "114x114" %>
  <%= favicon_link_tag "icon-120.png", rel: "apple-touch-icon", sizes: "120x120" %>
  <%= favicon_link_tag "icon-144.png", rel: "apple-touch-icon", sizes: "144x144" %>
  <%= favicon_link_tag "icon-167.png", rel: "apple-touch-icon", sizes: "167x167" %>
  <%= favicon_link_tag "icon-152.png", rel: "apple-touch-icon", sizes: "152x152" %>
  <%= favicon_link_tag "icon-180.png", rel: "apple-touch-icon", sizes: "180x180" %>
  <%= favicon_link_tag "favicon.ico", rel: "shortcut icon", type: "image/x-icon" %>









  </head>
  <body class="fuzzfinders-app navigation-orange demo">
    <div class="background-for-navigation"></div>
    <div class="menu-navigation"><a href="index.html" class="brand">
        <div class="logo"></div>
        <h3 class="brand-title">Fuzz<span class="alt">Finders</span><span class="trademark">TM</span></h3></a>
      <ul>
        <li class="link-home"><a href="index.html">FuzzFinders</a></li>
        <li><a href="fuzzfacts.html">FuzzFacts</a></li>
        <li><a href="faq-outer.html">FAQ</a></li>
        <li><a href="faq.html">FuzzFund</a></li>
        <li><a href="faq.html">Find Us</a></li>
        <li class="action"><a data-target="sign-in">Sign In</a></li>
        <li class="action"><a data-target="sign-up">Sign Up </a></li>
      </ul>
      <div class="extra-area"></div>
      <div class="nav-trigger nav-trigger-white open"><span></span><span></span><span></span></div>
    </div>
    <div class="mainpage-wrapper">
      <div class="nav-trigger nav-trigger-black"><span></span><span></span><span></span></div>
      <button data-target=".fuzz-chat-wrapper" data-toggle="show" class="btn btn-down btn-toggler">Local FuzzChat</button>
      <div class="content-wrapper">
        <div class="brand">
          <div class="logo"></div>
          <h1 class="brand-title">Fuzz<span class="alt">Finders</span><span class="trademark">TM</span></h1>
        </div>
        <button data-target=".lost-pet-page-wrapper" data-toggle="show" class="btn btn-orange btn-toggler">I Lost a Pet</button>
        <button data-target=".found-pet-page-wrapper" data-toggle="show" class="btn btn-green btn-toggler">I Found a Pet</button>
        <button data-target=".pet-sightings-page-wrapper" data-toggle="show" class="btn btn-blue btn-toggler">Local FuzzAlerts</button>
      </div>
      <div class="lost-pet-post-wrapper show">
        <div class="nav-block nav-block-orange">
          <btn class="back-arrow"><i class="icon-back"></i></btn>
          <h2 class="title"> Lost dog</h2>
          <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
        </div>
        <div class="section-wrapper">
          <div class="map"></div>
          <div class="photo-wrapper photo-wrapper-purple placeholder-dog">
            <div class="photo">
              <div class="Report__photo photo FullImage">
                <img class="Report__photo-img FullImage-img" src="<%= @report.image %>"/>
              </div>
            </div>
            <% if @report.last_seen.present? %>
              <h3 class="label">Last Seen <%= time_ago_in_words @report.last_seen %> Ago</h3>
            <% end %>
          </div>
          <div class="post-description">
            <div class="header">
              <div class="face-lockup Avatar">
                <img src="<%= @report.user.image %>" class="Avatar-img"/>
              </div>
              <div class="content">
                <p>Posted by <%= @report.user.username %></p>
                <p><%= time_ago_in_words @report.created_at %></p>
                <p class="type"><%= @report.normalized_title %></p>
              </div>
            </div>
            <table class="table table-stripped">
              <% if @report.pet_size %>
                <tr>
                  <td>Size</td>
                  <td><%= @report.pet_size %></td>
                </tr>
              <% end %>
              <% if @report.color %>
                <tr>
                  <td>Color</td>
                  <td><%= @report.color %></td>
                </tr>
              <% end %>
              <% if @report.breed %>
                <tr>
                  <td>Breed</td>
                  <td><%= @report.breed %></td>
                </tr>
              <% end %>
              <% if @report.sex %>
                <tr>
                  <td>Sex</td>
                  <td><%= @report.sex %></td>
                </tr>
              <% end %>
              <% if @report.last_seen %>
                <tr>
                  <td>Last seen</td>
                  <td><%= time_ago_in_words @report.last_seen %> Ago</td>
                </tr>
              <% end %>
            </table>
            <p class="description up-side"><%= @report.notes %></p>
          </div>
          <div class="comments-wrapper">
            <% if @report.comments.any? %>
              <h2>Comments</h2>
              <div class="Report__comments">
                <% @report.comments.each do |comment| %>
                  <div class="comment <%= comment.image_url ? 'with-image' : '' %>">
                    <div class="header">
                      <div style="background-image: url('<%= comment.user.image %>')" class="face-lockup"></div>
                      <div class="content">
                        <p>Posted by <%= comment.user.username %></p>
                        <p><%= time_ago_in_words comment.created_at %> ago</p>
                      </div>
                    </div>
                    <% if comment.image_url %>
                      <div style="background-image: url('<%= comment.image %>')" class="image"></div>
                    <% end %>
                    <div class="description-wrapper">
                      <p class="description"><%= comment.content %></p>
                      <% if comment.has_location? %>
                        <div class="location-sign"><i class="icon-location"></i>Location point added</div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <form class="post-comment">
            <h2>Your Comment</h2>
            <p>Unlogined users are not allowed to left comments to reports. Please, login to FuzzFinders app</p>
            <div class="row">
              <div class="col-xs-6">
                <button type="button" class="btn btn-small btn-blue btn-photo">SIGN IN</button>
              </div>
              <div class="col-xs-6">
                <button type="button" class="btn btn-small btn-blue btn-location">SIGN UP</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="sign-modal" role="dialog" aria-labelledby="SignModalLabel" aria-hidden="false" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close"></button>
            <div class="brand"></div>
            <ul class="nav nav-tabs nav-append-content">
              <li id="sign-in-trigger" class="active"><a data-target="#sign-in-form">Sign In</a></li>
              <li id="sign-up-trigger"><a data-target="#sign-up-form">Sign Up</a></li>
            </ul>
            <div class="tab-content">
              <div id="sign-in-form" class="active tab-pane">
                <form>
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sing-in-email-input"></label>
                    <input id="sing-in-email-input" type="email" placeholder="Email" name="user-mail" required="required" class="form-control"/><i class="icon-mail form-control-feedback"></i>
                  </div>
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sing-in-pass-input"></label>
                    <input id="sing-in-pass-input" type="password" data-target="password" placeholder="Password" name="user-pass" required="required" class="form-control"/><i class="icon-password form-control-feedback"></i>
                  </div>
                  <button type="submit" class="btn btn-block btn-submit">Sign In</button>
                  <!-- ***********************************************************-->
                  <!-- По умолчанию скрыта. Показывается только если не правильный ввод пароля-->
                  <!-- Добавить к ней класс .show чтоб отобразить-->
                  <!-- ***********************************************************--><a href="#" class="forgot">Forgot a password?</a>
                  <!-- <div class="social-holder"> -->
                  <!--   <button class="social-facebook"></button> -->
                  <!--   <button class="social-twitter"></button> -->
                  <!--   <button class="social-instagram"></button> -->
                  <!-- </div> -->
                </form>
              </div>
              <div id="sign-up-form" class="tab-pane">
                <form class="sign-up">
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sign-up-username-input"></label>
                    <input id="sign-up-username-input" type="text" data-target="user-name" placeholder="Username" name="user-name" required="required" class="form-control"/><i class="icon-username form-control-feedback"></i>
                  </div>
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sign-up-email-input"></label>
                    <input id="sign-up-email-input" type="email" placeholder="Email" name="user-mail" required="required" class="form-control"/><i class="icon-mail form-control-feedback"></i>
                  </div>
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sign-up-zip-input"></label>
                    <input id="sign-up-zip-input" type="text" data-target="zipcode" placeholder="Zip code" name="user-zip" required="required" class="form-control"/><i class="icon-location form-control-feedback"></i>
                  </div>
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sign-up-password-input"></label>
                    <input id="sign-up-password-input" type="password" data-target="password" placeholder="Password" name="user-pass" required="required" class="form-control"/><i class="icon-password form-control-feedback"></i>
                  </div>
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sign-up-confirm-input"></label>
                    <input id="sign-up-confirm-input" type="password" data-target="confirmation" placeholder="Confirm Password" name="user-pass-confirm" required="required" class="form-control icon-password"/><i class="icon-password form-control-feedback"></i>
                  </div>
                  <label for="legalcheckbox" class="checkbox">
                    <input id="legalcheckbox" type="checkbox" value="" data-toggle="checkbox" required="required"/>I accept the <a href="legal.html">Legal Agreement</a>
                  </label>
                  <button type="submit" class="btn btn-block btn-submit">Sign Up, Free!</button>
                  <!-- <div class="social-holder"> -->
                  <!--   <h2>Or Sign Up via Social</h2> -->
                  <!--   <button class="social-facebook"></button> -->
                  <!--   <button class="social-twitter"></button> -->
                  <!--   <button class="social-instagram"></button> -->
                  <!-- </div> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/last_markup/js/min/vendor-min.js"></script>
    <script type="text/javascript" src="/last_markup/js/min/custom-min.js"></script>
    <script type="text/javascript" src="/last_markup/js/mresize.js"></script>
    <script type="text/javascript" src="/last_markup/js/maps.js"></script>
    <script type="text/javascript" src="/last_markup/js/marketwithlabel.js"></script>
    <script type="text/javascript" src="/last_markup/js/app-interactions-for-demo.js"></script>
  </body>
</html>
