<div class="mainpage-wrapper">
  <div class="nav-trigger nav-trigger-black"><span></span><span></span><span></span></div>
  <button data-route="fuzzapp/chat" class="btn btn-down">Local FuzzChat</button>
  <div class="content-wrapper">
    <div class="brand">
      <div class="logo"></div>
      <h1 class="brand-title">Fuzz<span class="alt">Finders</span><span class="trademark">TM</span></h1>
    </div>
    <button data-route="fuzzapp/lost" class="btn btn-orange">I Lost a Pet
    </button>
    <button data-route="fuzzapp/found" class="btn btn-green">I Found a Pet
    </button>
    <button data-route="fuzzapp/reports" class="btn btn-blue">Local FuzzAlerts</button>
  </div>
  <div class="lost-pet-page-wrapper"></div>
  <div class="found-pet-page-wrapper"></div>
  <div class="pet-sightings-page-wrapper"></div>
  <div class="lost-pet-post-wrapper"></div>
  <div class="found-pet-post-wrapper"></div>
  <div class="fuzz-chat-wrapper">
    <div class="nav-block nav-block-dark-blue">
      <button data-target=".fuzz-chat-wrapper" class="back-arrow"><i class="icon-back"></i></button>
      <h2 class="title"> Local FUZZCHAT</h2>
      <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
    </div>
    <div class="chat-wrapper"></div>
    <div class="message-input form-group">
      <%= simple_form_for :message, remote: true, url: messages_path, method: :post, html: { id: 'new_message_form'} do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.input_field :body, as: :string, required: false, class: 'form-control', placeholder: 'Enter message', autocomplete: 'off' %>
        <%= f.button :button, class: 'btn btn-message submit' do %>
          <span class="icon-fuzz-flash"></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="notifications"></div>
<%= render 'templates/report_create' %>
<%= render 'templates/report_comment' %>
<%= render 'templates/report' %>
<%= render 'templates/reports' %>
<%= render 'templates/reports_item' %>
<%= render 'templates/comment_form' %>
<%= render 'templates/notification' %>
