<!--********************************************************************************************************************************-->
<!--********************************************************************************************************************************-->
<!--********************************************************************************************************************************-->
<!-- Не спрашивай почему для навигационных тригера — так наиболее стабильно выйдет их свертстать с тем видом, который я хотел из задать-->
<!-- .nav-trigger и .extra-area переключает класс  .open у .menu-navigation-->
<!--********************************************************************************************************************************-->
<!--********************************************************************************************************************************-->
<!--********************************************************************************************************************************-->
<div class="mainpage-wrapper">
  <div class="nav-trigger nav-trigger-black"><span></span><span></span><span></span></div>
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!-- В кнопках-переключателях я через data-target определяю объекты, которые они переключают, в data-toggle - соответственно класс.-->
  <!-- Все они имеют класс .btn-toggler только для отлова скриптом.-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <button data-route="fuzzapp/chat" class="btn btn-down">Local FuzzChat</button>
  <div class="content-wrapper">
    <div class="brand">
      <div class="logo"></div>
      <h1 class="brand-title">Fuzz<span class="alt">Finders</span><span class="trademark">TM</span></h1>
    </div>
    <button data-route="fuzzapp/lost" class="btn btn-orange">I Lost a Pet
    </button>
    <button data-route="fuzzapp/found" class="btn btn-green">I Found a Pet
    </button>
    <button data-route="fuzzapp/reports" class="btn btn-blue">Local FuzzAlerts</button>
  </div>
  <div class="lost-pet-page-wrapper">
    <div class="nav-block nav-block-orange">
      <!--********************************************************************************************************************************-->
      <!--********************************************************************************************************************************-->
      <!--********************************************************************************************************************************-->
      <!-- Я стекаю информацию о предыдушем переключении. Чтоб при нажатии назад улетала не вся область, а лишь прошлое переключение (в этой анкете-->
      <!-- их будет 3 и более — чуть позже добавим завершающую серию диалогов).-->
      <!--********************************************************************************************************************************-->
      <!--********************************************************************************************************************************-->
      <!--********************************************************************************************************************************-->
      <button class="back-arrow"><i class="icon-back"></i></button>
      <h2 class="title"> I Lost a pet</h2>
      <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
    </div>
    <div class="section-wrapper">
      <div class="progress-step progress-orange step-1">
        <div class="step-icon step-1">
          <div class="icon-photo-edit"></div>
        </div>
        <div class="devider step-2"></div>
        <div class="step-icon step-2">
          <div class="icon-location"></div>
        </div>
        <div class="devider step-3"></div>
        <div class="step-icon step-3">
          <div class="icon-fuzz-description"></div>
        </div>
      </div>
      <!--********************************************************************************************************************************-->
      <!--********************************************************************************************************************************-->
      <!--********************************************************************************************************************************-->
      <!-- С помощью библиотеки mresize обрабатывается событие для изменения высоты ancete-wrapper-а (при переключении классов). Для предотвращения-->
      <!-- ошибок на некоторых устройствах после изменения класса скриптом нужно уменьшить его высоту мануально до заведомо меньшего размера (400рх-->
      <!-- например). Тогда сработает изменятель размера и все будет отображаться коректно.-->
      <!-- При переключении этапов анкеты классы .step-1, .step-2, .step-3 стэкуются, а не заменяются — так можно предоставить материал-дизайн анимацию-->
      <!-- и ощущение слоев переключения. Пока это лучшее решение, которое мне удалось всерстать для данной задачи. Если есть идеи как обойтись без таких-->
      <!-- костылей — с радостью выслушаю.-->
      <!-- Так же при переключении у родителя и у всей секции должен срабатывать scroll to top-->
      <!--********************************************************************************************************************************-->
      <!--********************************************************************************************************************************-->
      <!--********************************************************************************************************************************-->
      <div class="ancete-wrapper step-1">
        <div class="step-wrapper-1">
          <h3 class="title">Snap a Photo</h3>
          <p class="description">Photos are the best way to identify a&nbsp;missing&nbsp;pet!</p>
          <div class="photo-wrapper wrapper-cat empty">
            <div class="form-group">
              <div class="preview-holder" id="lost-pet-image">
                <i class="icon-photo-edit"></i>
              </div>

              <input type="file" name="image" id="lost-pet-image-file" style="display: none"/>
              <p id="lost_pet_info"></p>
              <input type="hidden" name="lost_pet_image" id="lost-pet-image-url"/>

              <button data-route="fuzzapp/lost/step_2" class="btn btn-big btn-green btn-new btn-next-step">Continue</button>
              <button data-route="fuzzapp/lost/step_2" class="btn btn-big btn-blue btn-new btn-next-step">Continue
                without Photo
              </button>
              <!-- <button class="btn btn&#45;big btn&#45;green btn&#45;done">Upload another Photo</button> -->
              <button data-route="fuzzapp/lost/step_2" class="btn btn-big btn-blue btn-done btn-next-step">Continue</button>
            </div>
          </div>
        </div>
        <div class="step-wrapper-2">
          <h3 class="title">Enter last known location</h3>
          <div class="form-group empty">
            <input placeholder="Type address here" id="lost_address" class="input form-control"/>
            <input type="hidden" id="lost_position_lng" value="">
            <input type="hidden" id="lost_position_lat" value="">
            <p class="description">Or drag map pin to location</p>
            <div class="map" id="lost_map"></div>
            <!-- <button data&#45;target=".lost&#45;pet&#45;page&#45;wrapper .progress&#45;step, .lost&#45;pet&#45;page&#45;wrapper .ancete&#45;wrapper" data&#45;toggle="step&#45;3" class="btn btn&#45;big btn&#45;orange btn&#45;done btn&#45;toggler">Use Location Provided</button> -->
            <button data-target=".lost-pet-page-wrapper .progress-step, .lost-pet-page-wrapper .ancete-wrapper" id="lost_current_location" class="btn btn-big btn-blue btn-new">Use
              My Current Location
            </button>
            <button data-route="fuzzapp/lost/step_3" class="btn btn-big btn-green btn-new btn-next-step" data-toggle="step-2">Continue</button>
          </div>
        </div>
        <div class="step-wrapper-3">
          <h3 class="title">Describe your pet</h3>
          <form class="Pet-description">
            <div class="dropdown">
              <button id="lost-pet-type-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-dropdown dropdown-toggle">Pet
                type<span class="caret"></span></button>
              <ul aria-labelledby="lost-pet-type-btn" class="dropdown-menu">
                <li><a href="#">Dog</a></li>
                <li><a href="#">Cat</a></li>
                <li><a href="#">Bird</a></li>
                <li><a href="#">Other</a></li>
              </ul>
            </div>
            <div class="form-group">
              <input placeholder="Pet name" id="lost_pet_name" class="input input-small form-control"/>
            </div>
            <div class="dropdown last-seen-dropdown">
              <button id="lost-pet-seen-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-dropdown dropdown-toggle">Time
                last seen<span class="caret"></span></button>
              <!--********************************************************************************************************************************-->
              <!--********************************************************************************************************************************-->
              <!--********************************************************************************************************************************-->
              <!-- При выборе custom date/time в dropdown к форме .pet-description применяется класс .custom date. Он спрячет дорпдаун и покажет кастомный инпут-->
              <!-- Ни один дропдаун пока не имеет скрипта по переключению (предлагаю для начала просто менять текст у переключателя дропдауна и добавлять класс-->
              <!-- .active в соответствующий пункт выпадающего списка. Стили предоставлю чуть позже).-->
              <!-- поле в last-seen-custom пока контролируется с помощью maskedInput библиотеки. Позже я думаю мы сможем нормально запустить скрипт обработчик (при-->
              <!-- наличии пары совсем лишних рабочих часов).-->
              <!--********************************************************************************************************************************-->
              <!--********************************************************************************************************************************-->
              <!--********************************************************************************************************************************-->
              <ul aria-labelledby="lost-pet-seen-btn" class="dropdown-menu">
                <li><a href="#">&nbsp;&nbsp;just now</a></li>
                <li><a href="#">&nbsp;&nbsp;1 hour ago </a></li>
                <li><a href="#">&nbsp;&nbsp;2 hours ago</a></li>
                <li><a href="#">12 hours ago</a></li>
                <li><a href="#">24 hours ago</a></li>
                <li><a href="#">48 hours ago</a></li>
                <li><a class="custom-date-trigger">custom date/time</a></li>
              </ul>
            </div>
            <div class="form-group last-seen-custom">
              <input placeholder="MM/DD HH:MM" class="input input-small form-control"/>
            </div>
            <div class="form-group">
              <!--********************************************************************************************************************************-->
              <!--********************************************************************************************************************************-->
              <!--********************************************************************************************************************************-->
              <!-- Высота блока контролируется библиотекой autosize.-->
              <!--********************************************************************************************************************************-->
              <!--********************************************************************************************************************************-->
              <!--********************************************************************************************************************************-->
              <textarea placeholder="Briefly describe the incident" rows="2" class="textarea form-control" id="lost_notes"></textarea>
            </div>
            <!--********************************************************************************************************************************-->
            <!--********************************************************************************************************************************-->
            <!--********************************************************************************************************************************-->
            <!-- Просто добавляет у родителя класс .extra-open. Все остальное уже задача CSS-->
            <!--********************************************************************************************************************************-->
            <!--********************************************************************************************************************************-->
            <!--********************************************************************************************************************************-->
            <button type="button" class="btn btn-big btn-green btn-subarea"><i class="icon-plus"></i>Add Pet Details
            </button>
            <div class="extra-area">
              <div class="row">
                <div class="col-xs-6">
                  <div class="dropdown dropdown-small">
                    <button id="lost-gender-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-dropdown dropdown-toggle">Gender<span class="caret"></span>
                    </button>
                    <ul aria-labelledby="lost-gender-btn" class="dropdown-menu">
                      <li><a href="#">Male</a></li>
                      <li><a href="#">Female</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="dropdown dropdown-small">
                    <button id="lost-size-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-dropdown dropdown-toggle">Size<span class="caret"></span>
                    </button>
                    <ul aria-labelledby="lost-size-btn" class="dropdown-menu">
                      <li><a href="#">Small</a></li>
                      <li><a href="#">Medium</a></li>
                      <li><a href="#">Large</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="dropdown dropdown-small">
                    <button id="lost-age-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-dropdown dropdown-toggle">Age<span class="caret"></span>
                    </button>
                    <ul aria-labelledby="lost-age-btn" class="dropdown-menu">
                      <li><a href="#">Baby</a></li>
                      <li><a href="#">Young</a></li>
                      <li><a href="#">Adult</a></li>
                      <li><a href="#">Senior</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-6">
                  <input placeholder="Pet color" id="lost_pet_color" class="input input-small form-control"/>
                </div>
              </div>
              <input placeholder="Pet Breed" id="lost_pet_breed" class="input input-small form-control"/>
              <input placeholder="Additional keywords" class="input input-small form-control"/>
            </div>
            <!--********************************************************************************************************************************-->
            <!--********************************************************************************************************************************-->
            <!--********************************************************************************************************************************-->
            <!-- У этой кнопки особое переключение — при ее нажатии сначала мы убираем весь блок, а потом уже переключаем обратно внутренние классы-->
            <!-- на дефолтные. Хотя если у нас ангуляр будет — просто можно будет удалять и не задумываться. Но к такому меня жизнь не готовила-->
            <!--********************************************************************************************************************************-->
            <!--********************************************************************************************************************************-->
            <!--********************************************************************************************************************************-->
            <button type="button" id="lost_pet_button" class="btn btn-big btn-blue">Post FuzzAlert</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!-- Тупо то же самое что и для .lost-pet-page-wrapper-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <div class="found-pet-page-wrapper">
    <div class="nav-block nav-block-green">
      <button class="back-arrow"><i class="icon-back"></i></button>
      <h2 class="title"> I Found a pet</h2>
      <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
    </div>
    <div class="section-wrapper">
      <div class="progress-step progress-green step-1">
        <div class="step-icon step-1">
          <div class="icon-photo-edit"></div>
        </div>
        <div class="devider step-2"></div>
        <div class="step-icon step-2">
          <div class="icon-location"></div>
        </div>
        <div class="devider step-3"></div>
        <div class="step-icon step-3">
          <div class="icon-fuzz-description"></div>
        </div>
      </div>
      <div class="ancete-wrapper step-1">
        <div class="step-wrapper-1">
          <h3 class="title">Snap a Photo</h3>
          <p class="description">Photos are the best way to identify a&nbsp;missing&nbsp;pet!</p>
          <div class="photo-wrapper wrapper-dog empty">
            <div class="form-group">
              <div class="preview-holder" id="found-pet-image">
                <i class="icon-photo-edit"></i>
              </div>

              <input type="file" name="image" id="found-pet-image-file" style="display: none"/>
              <p id="found_pet_info"></p>
              <input type="hidden" name="found_pet_image" id="found-pet-image-url"/>

              <button data-route="fuzzapp/found/step_2" class="btn btn-big btn-green btn-new btn-next-step">Continue</button>
              <button data-route="fuzzapp/found/step_2" class="btn btn-big btn-blue btn-new btn-next-step">Continue without
                Photo
              </button>
              <!-- <btn class="btn btn&#45;big btn&#45;green btn&#45;done">Upload another Photo</btn> -->
              <button data-route="fuzzapp/found/step_2" class="btn btn-big btn-blue btn-done btn-next-step">Continue</button>

            </div>
          </div>
        </div>
        <div class="step-wrapper-2">
          <h3 class="title">Enter last known location</h3>
          <div class="form-group empty">
            <input placeholder="Type address here" id="found_address" class="input form-control"/>
            <input type="hidden" id="found_position_lng" value="">
            <input type="hidden" id="found_position_lat" value="">
            <p class="description">Or drag map pin to location</p>
            <div class="map"></div>
            <button data-route="fuzzapp/found/step_3" class="btn btn-big btn-blue btn-new">Use My Current Location</button>
            <button data-route="fuzzapp/found/step_3" class="btn btn-big btn-green btn-done">Use Location Provided</button>
          </div>
        </div>
        <div class="step-wrapper-3">
          <h3 class="title">Describe the pet</h3>
          <form class="Pet-description">
            <div class="dropdown">
              <button id="found-pet-type-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-dropdown dropdown-toggle">Pet
                type<span class="caret"></span></button>
              <ul aria-labelledby="found-pet-type-btn" class="dropdown-menu">
                <li><a href="#">Dog</a></li>
                <li><a href="#">Cat</a></li>
                <li><a href="#">Bird</a></li>
                <li><a href="#">Other</a></li>
              </ul>
            </div>
            <div class="dropdown last-seen-dropdown">
              <button id="found-pet-seen-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-dropdown dropdown-toggle">Time
                last seen<span class="caret"></span></button>
              <ul aria-labelledby="found-pet-seen-btn" class="dropdown-menu">
                <li><a href="#">&nbsp;&nbsp;just now</a></li>
                <li><a href="#">&nbsp;&nbsp;1 hour ago </a></li>
                <li><a href="#">&nbsp;&nbsp;2 hours ago</a></li>
                <li><a href="#">12 hours ago</a></li>
                <li><a href="#">24 hours ago</a></li>
                <li><a href="#">48 hours ago</a></li>
                <li><a class="custom-date-trigger">custom date/time</a></li>
              </ul>
            </div>
            <div class="form-group last-seen-custom">
              <input placeholder="MM/DD HH:MM AM" class="input input-small form-control"/>
            </div>
            <div class="form-group">
              <textarea placeholder="Briefly describe the incident" rows="4" class="textarea form-control"></textarea>
            </div>
            <button type="button" class="btn btn-big btn-green btn-subarea"><i class="icon-plus"></i>Add Pet Details
            </button>
            <div class="extra-area">
              <div class="row">
                <div class="col-xs-6">
                  <div class="dropdown dropdown-small">
                    <button id="found-gender-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-dropdown dropdown-toggle">Gender<span class="caret"></span>
                    </button>
                    <ul aria-labelledby="found-gender-btn" class="dropdown-menu">
                      <li><a href="#">Male</a></li>
                      <li><a href="#">Female</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="dropdown dropdown-small">
                    <button id="found-size-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-dropdown dropdown-toggle">Size<span class="caret"></span>
                    </button>
                    <ul aria-labelledby="found-size-btn" class="dropdown-menu">
                      <li><a href="#">Small </a></li>
                      <li><a href="#">Medium</a></li>
                      <li><a href="#">Large </a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="dropdown dropdown-small">
                    <button id="found-age-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-dropdown dropdown-toggle">Age<span class="caret"></span>
                    </button>
                    <ul aria-labelledby="found-age-btn" class="dropdown-menu">
                      <li><a href="#">Baby</a></li>
                      <li><a href="#">Young</a></li>
                      <li><a href="#">Adult</a></li>
                      <li><a href="#">Senior</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-6">
                  <input placeholder="Pet color" id="found_pet_color" class="input input-small form-control"/>
                </div>
              </div>
              <input placeholder="Pet Breed" id="found_pet_breed" class="input input-small form-control"/>
              <input placeholder="Additional keywords" id="lost_tag_list" class="input input-small form-control"/>
            </div>
            <button type="button" id="found_pet_button" class="btn btn-big btn-blue">Post FuzzAlert</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="pet-sightings-page-wrapper">
  </div>

  <div class="lost-pet-post-wrapper">
  </div>

  <div class="found-pet-post-wrapper"></div>
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!-- Сейчас используется какое-то стороннее решение для чата. Прошлый разработчик сказал, что я могу обновить структуру выдаваемого html-->
  <!-- как мне угодно в пределах этих функций.-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <div class="fuzz-chat-wrapper">
    <div class="nav-block nav-block-dark-blue">
      <button data-target=".fuzz-chat-wrapper" class="back-arrow"><i class="icon-back"></i></button>
      <h2 class="title"> Local FUZZCHAT</h2>
      <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
    </div>
    <div class="chat-wrapper">
      <div class="message-wrapper">
        <div style="background-image: url('<%= image_url('user-picture-2.png') %>')" class="face-lockup"></div>
        <div class="text-holder">
          <h5 class="name">Robert</h5>
          <p class="message">Hi guys. Does anyone have a list of shelters of Oakland? I’ve posted Lost pet message, but
            still worried</p>
          <h6 class="time">about 10 minutes ago</h6>
        </div>
      </div>
      <div class="message-wrapper">
        <div style="background-image: url('<%= image_url('user-picture.png') %>')" class="face-lockup"></div>
        <div class="text-holder">
          <h5 class="name">Aisher</h5>
          <p class="message">Well, Robert. System automaticly proposes you links to article with nearest shelters. Don’t
            you receive it?</p>
          <h6 class="time">about 10 minutes ago</h6>
        </div>
      </div>
      <div class="message-wrapper">
        <div style="background-image: url('<%= image_url('user-picture-2.png') %>')" class="face-lockup"></div>
        <div class="text-holder">
          <h5 class="name">Robert</h5>
          <p class="message">I’ve just misclicked and closed window. Is there any place to get this information? Or I
            should make another post?</p>
          <h6 class="time">about 9 minutes ago</h6>
        </div>
      </div>
      <div class="message-wrapper">
        <div style="background-image: url('<%= image_url('user-picture.png') %>')" class="face-lockup"></div>
        <div class="text-holder">
          <h5 class="name">Aisher</h5>
          <p class="message">I've seen it somewhere. Not sure where, but it really was. Wait a bit, I'll try to find
            this link.</p>
          <h6 class="time">about 8 minutes ago</h6>
        </div>
      </div>
      <div class="message-wrapper">
        <div style="background-image: url('<%= image_url('user-picture-2.png') %>')" class="face-lockup"></div>
        <div class="text-holder">
          <h5 class="name">Robert</h5>
          <p class="message">Thanks a lot =)</p>
          <h6 class="time">about 7 minutes ago</h6>
        </div>
      </div>
    </div>
    <div class="message-input form-group">
      <input placeholder="Enter message" class="form-control"/>
      <button class="btn btn-message"><span class="icon-fuzz-flash"></span></button>
    </div>
  </div>
</div>

<script id="notification-template" type="text/x-handlebars-template">
  <div class="Notification Notification__type-{{report_type}}">
    <div class="Notification__shadow"></div>
    <div class="Notification__alert">
      <div class="Notification__alert-image"></div>
      <div class="Notification__alert-content">
        <h1>FuzzAlert</h1>
        <p>{{normalized_title}} Buggy</p>
      </div>
      <div class="Notification__alert-close icon-plus"></div>
    </div>
  </div>
</script>

<script id="reports-template" type="text/x-handlers-template">
  <div>
    <div class="nav-block nav-block-blue">
      <button class="back-arrow"><i class="icon-back"></i></button>
      <h2 class="title"> Local FuzzAlerts</h2>
      <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
    </div>
    <div class="section-wrapper">
      <div class="map"></div>
      <form class="search-area">
        <input placeholder="Search Keywords" name="keyword" class="Filter__input input form-control"/>
        <div class="row">
          <div class="col-xs-6">
            <div class="Select">
              <select class="Select-input" name="report_type" data-filter="report_type" placeholder="Lost or Found">
                <option value="">Lost or Found</option>
                <option value="lost">Lost</option>
                <option value="found">Found</option>
              </select>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="Select">
              <select class="Select-input" name="type" data-filter="type" placeholder="Pet type">
                <option value="">Pet type</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="bird">Bird</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <input placeholder="Pet color" name="color" class="Filter__input input input-small form-control"/>
          </div>
          <div class="col-xs-6">
            <input placeholder="Pet Breed" name="breed" class="Filter__input input input-small form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="Select">
              <select class="Select-input" name="gender" data-filter="gender" placeholder="Gender">
                <option value="">Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="Select">
              <select class="Select-input" name="size" data-filter="size" placeholder="Size">
                <option value="">Size</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="Select">
              <select class="Select-input" name="age" data-filter="age" placeholder="Age">
                <option value="">Age</option>
                <option value="baby">Baby</option>
                <option value="young">Young</option>
                <option value="adult">Adult</option>
                <option value="senior">Senior</option>
              </select>
            </div>
          </div>
          <div class="col-xs-6">
            <button type="reset" class="Filter__reset btn btn-small btn-blue">Reset Filters</button>
          </div>
        </div>
      </form>
      <button class="btn btn-search btn-blue" data-filter-toggler>
        <span class="icon icon-search"></span>Search FuzzAlerts
      </button>
      <div class="posts" id="reports_list">
      </div>
    </div>
  </div>
</script>

<script id="reports-item-template" type="text/x-handlers-template">
  <div class="post {{report_type}}-post small-report-card" data-report-id="{{id}}">
    <h3 class="title">{{title}}</h3>
    {{#if title}}
    <div class="photo-holder" style="background-image: url('{{img_url}}')"></div>
    {{else}}
    <div class="photo-holder"></div>
    {{/if}}
    <div class="content-holder">
      <table>
        {{#if last_seen}}
        <tr>
          <td>Last Seen</td>
          <td>{{last_seen}}</td>
        </tr>
        {{/if}}
        <tr>
          <td>Posted by</td>
          <td>{{report_username}}</td>
        </tr>
      </table>
      <a class="read-more">Read more</a>
    </div>
  </div>
</script>

<script id="report-template" type="text/x-handlers-template">
  <div class="Report Report-{{report_type}}">
    <div class="nav-block">
      <button class="back-arrow"><i class="icon-back"></i></button>
      <h2 class="title">{{title}}</h2>
      <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
    </div>
    <div class="section-wrapper">
      <div class="map"></div>
      <div class="photo-wrapper">
        <div class="Report__photo photo">
          <img class="Report__photo-img" src="{{image}}"/>
        </div>

        {{#if last_seen}}
        <h3 class="label">Last Seen {{last_seen_ago}} ago</h3>
        {{/if}}
      </div>
      <div class="post-description">
        <div class="header">
          <div class="face-lockup">
            <img src="{{user_avatar}}"/>
          </div>
          <div class="content">
            <p>Posted by {{report_username}}</p>
            <p>{{created_at_ago}} ago</p>
            <p class="type">{{type}}</p>
          </div>
        </div>

        <table class="table table-stripped">
          {{#if pet_size}}
          <tr>
            <td>Size</td>
            <td>{{pet_size}}</td>
          </tr>
          {{/if}}
          {{#if color}}
          <tr>
            <td>Color</td>
            <td>{{color}}</td>
          </tr>
          {{/if}}
          {{#if breed}}
          <tr>
            <td>Breed</td>
            <td>{{breed}}</td>
          </tr>
          {{/if}}
          {{#if sex}}
          <tr>
            <td>Sex</td>
            <td>{{sex}}</td>
          </tr>
          {{/if}}
          {{#if last_seen}}
          <tr>
            <td>Last seen</td>
            <td>{{last_seen}}</td>
          </tr>
          {{/if}}
        </table>
        <p class="description">{{notes}}</p>
        <button class="btn btn-big btn-blue"><i class="icon-edit"></i>Edit Post</button>
      </div>
      <div class="social-share-wrapper">
        <p>Share this post to help find fuzzy!</p>
        <div class="buttons-wrapper">
          <button class="social-facebook"></button>
          <button class="social-twitter"></button>
          <button class="social-instagram"></button>
        </div>
      </div>
      <div class="comments-wrapper">
        <h2>Comments</h2>
        <div class="Report__comments"></div>
      </div>
      <div class="Report__comment-form"></div>
    </div>
  </div>
</script>

<script id="report-comment-template" type="text/x-handlers-template">
  <div class="Comment {{head_class}}">
    <div class="Comment__header">
      <div class="Comment__header-avatar">
        <img src="{{avatar}}"/>
      </div>
      <div class="Comment__header-content">
        <p>Posted by {{comment_username}}</p>
        <p>{{created_at_ago}} ago</p>
      </div>
    </div>
    {{#if image }}
    <div class="Comment__image">
      <img class="Comment__image-img" src="{{image}}"/>
    </div>
    {{/if}}
    <div class="Comment__description">
      <p class="Comment__description-content">{{content}}</p>
      {{#if hasLocation }}
      <div class="Comment__description-location">
        <a href="javascript:void(0)" class="Comment__description-locationLink">
          <span class="Comment__description-locationMarker">{{locationLabel}}</span>Location point added
        </a>
      </div>
      {{/if}}
    </div>
  </div>
</script>

<script id="comment-form-template" type="text/x-handlers-template">
  <form class="CommentForm post-comment">
    <h2>Post Your Comment</h2>
    <textarea placeholder="Type Here" name="content" row="4" class="CommentForm-input textarea form-control"></textarea>

    <div style="background-image: url('<%= image_url('dog-demo-2.png') %>')" class="photo-wrapper">
      <button class="btn-remove"></button>
    </div>
    <div class="location-wrapper">
      <div class="map"></div>
      <div class="btn-remove"></div>
    </div>
    <div class="row">
      <div class="CommentForm__map"></div>
    </div>
    <div class="row">

    </div>
    <div class="row">
      <div class="col-xs-6">
        <label class="CommentForm__upload btn btn-small btn-blue btn-photo">
          Upload Photo
          <input type="file" name="image" ref="upload" class="CommentForm-input CommentForm__upload-uploader"/>
        </label>
      </div>
      <div class="col-xs-6">
        <button type="button" class="CommentForm__location btn btn-small btn-blue">Add a Location</button>
      </div>
    </div>
    <button type="submit" class="CommentForm__submit btn btn-xbig btn-blue">Post</button>
  </form>
</script>

<div class="notifications"></div>



