<!--********************************************************************************************************************************-->
<!--********************************************************************************************************************************-->
<!--********************************************************************************************************************************-->
<!-- Не спрашивай почему для навигационных тригера — так наиболее стабильно выйдет их свертстать с тем видом, который я хотел из задать-->
<!-- .nav-trigger и .extra-area переключает класс  .open у .menu-navigation-->
<!--********************************************************************************************************************************-->
<!--********************************************************************************************************************************-->
<!--********************************************************************************************************************************-->
<div class="mainpage-wrapper">
  <div class="nav-trigger nav-trigger-black"><span></span><span></span><span></span></div>
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!-- В кнопках-переключателях я через data-target определяю объекты, которые они переключают, в data-toggle - соответственно класс.-->
  <!-- Все они имеют класс .btn-toggler только для отлова скриптом.-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <button data-route="fuzzapp/chat" class="btn btn-down">Local FuzzChat</button>
  <div class="content-wrapper">
    <div class="brand">
      <div class="logo"></div>
      <h1 class="brand-title">Fuzz<span class="alt">Finders</span><span class="trademark">TM</span></h1>
    </div>
    <button data-route="fuzzapp/lost" class="btn btn-orange">I Lost a Pet
    </button>
    <button data-route="fuzzapp/found" class="btn btn-green">I Found a Pet
    </button>
    <button data-route="fuzzapp/reports" class="btn btn-blue">Local FuzzAlerts</button>
  </div>
  <div class="lost-pet-page-wrapper">
  </div>
  <div class="found-pet-page-wrapper">
  </div>

  <div class="pet-sightings-page-wrapper">
  </div>

  <div class="lost-pet-post-wrapper">
  </div>

  <div class="found-pet-post-wrapper"></div>
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!-- Сейчас используется какое-то стороннее решение для чата. Прошлый разработчик сказал, что я могу обновить структуру выдаваемого html-->
  <!-- как мне угодно в пределах этих функций.-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <!--********************************************************************************************************************************-->
  <div class="fuzz-chat-wrapper">
    <div class="nav-block nav-block-dark-blue">
      <button data-target=".fuzz-chat-wrapper" class="back-arrow"><i class="icon-back"></i></button>
      <h2 class="title"> Local FUZZCHAT</h2>
      <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
    </div>
    <div class="chat-wrapper">
      <div class="message-wrapper">
        <div style="background-image: url('<%= image_url('user-picture-2.png') %>')" class="face-lockup"></div>
        <div class="text-holder">
          <h5 class="name">Robert</h5>
          <p class="message">Hi guys. Does anyone have a list of shelters of Oakland? I’ve posted Lost pet message, but
            still worried</p>
          <h6 class="time">about 10 minutes ago</h6>
        </div>
      </div>
      <div class="message-wrapper">
        <div style="background-image: url('<%= image_url('user-picture.png') %>')" class="face-lockup"></div>
        <div class="text-holder">
          <h5 class="name">Aisher</h5>
          <p class="message">Well, Robert. System automaticly proposes you links to article with nearest shelters. Don’t
            you receive it?</p>
          <h6 class="time">about 10 minutes ago</h6>
        </div>
      </div>
      <div class="message-wrapper">
        <div style="background-image: url('<%= image_url('user-picture-2.png') %>')" class="face-lockup"></div>
        <div class="text-holder">
          <h5 class="name">Robert</h5>
          <p class="message">I’ve just misclicked and closed window. Is there any place to get this information? Or I
            should make another post?</p>
          <h6 class="time">about 9 minutes ago</h6>
        </div>
      </div>
      <div class="message-wrapper">
        <div style="background-image: url('<%= image_url('user-picture.png') %>')" class="face-lockup"></div>
        <div class="text-holder">
          <h5 class="name">Aisher</h5>
          <p class="message">I've seen it somewhere. Not sure where, but it really was. Wait a bit, I'll try to find
            this link.</p>
          <h6 class="time">about 8 minutes ago</h6>
        </div>
      </div>
      <div class="message-wrapper">
        <div style="background-image: url('<%= image_url('user-picture-2.png') %>')" class="face-lockup"></div>
        <div class="text-holder">
          <h5 class="name">Robert</h5>
          <p class="message">Thanks a lot =)</p>
          <h6 class="time">about 7 minutes ago</h6>
        </div>
      </div>
    </div>
    <div class="message-input form-group">
      <input placeholder="Enter message" class="form-control"/>
      <button class="btn btn-message"><span class="icon-fuzz-flash"></span></button>
    </div>
  </div>
</div>

<script id="notification-template" type="text/x-handlebars-template">
  <div class="Notification Notification__type-{{report_type}}">
    <div class="Notification__shadow"></div>
    <div class="Notification__alert">
      <div class="Notification__alert-image"></div>
      <div class="Notification__alert-content">
        <h1>FuzzAlert</h1>
        <p>{{normalized_title}} Buggy</p>
      </div>
      <div class="Notification__alert-close icon-plus"></div>
    </div>
  </div>
</script>

<script id="reports-template" type="text/x-handlers-template">
  <div>
    <div class="nav-block nav-block-blue">
      <button class="back-arrow"><i class="icon-back"></i></button>
      <h2 class="title"> Local FuzzAlerts</h2>
      <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
    </div>
    <div class="section-wrapper">
      <div class="map"></div>
      <form class="search-area">
        <input placeholder="Search Keywords" name="keyword" class="Filter__input input form-control"/>
        <div class="row">
          <div class="col-xs-6">
            <div class="Select">
              <select class="Select-input" name="report_type" data-filter="report_type" placeholder="Lost or Found">
                <option value="">Lost or Found</option>
                <option value="lost">Lost</option>
                <option value="found">Found</option>
              </select>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="Select">
              <select class="Select-input" name="type" data-filter="type" placeholder="Pet type">
                <option value="">Pet type</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="bird">Bird</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <input placeholder="Pet color" name="color" class="Filter__input input input-small form-control"/>
          </div>
          <div class="col-xs-6">
            <input placeholder="Pet Breed" name="breed" class="Filter__input input input-small form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="Select">
              <select class="Select-input" name="gender" data-filter="gender" placeholder="Gender">
                <option value="">Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="Select">
              <select class="Select-input" name="size" data-filter="size" placeholder="Size">
                <option value="">Size</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="Select">
              <select class="Select-input" name="age" data-filter="age" placeholder="Age">
                <option value="">Age</option>
                <option value="baby">Baby</option>
                <option value="young">Young</option>
                <option value="adult">Adult</option>
                <option value="senior">Senior</option>
              </select>
            </div>
          </div>
          <div class="col-xs-6">
            <button type="reset" class="Filter__reset btn btn-small btn-blue">Reset Filters</button>
          </div>
        </div>
      </form>
      <button class="btn btn-search btn-blue" data-filter-toggler>
        <span class="icon icon-search"></span>Search FuzzAlerts
      </button>
      <div class="posts" id="reports_list">
      </div>
    </div>
  </div>
</script>

<script id="reports-item-template" type="text/x-handlers-template">
  <div class="post {{report_type}}-post small-report-card" data-report-id="{{id}}">
    <h3 class="title">{{title}}</h3>
    {{#if title}}
    <div class="photo-holder" style="background-image: url('{{img_url}}')"></div>
    {{else}}
    <div class="photo-holder"></div>
    {{/if}}
    <div class="content-holder">
      <table>
        {{#if last_seen}}
        <tr>
          <td>Last Seen</td>
          <td>{{last_seen}}</td>
        </tr>
        {{/if}}
        <tr>
          <td>Posted by</td>
          <td>{{report_username}}</td>
        </tr>
      </table>
      <a class="read-more">Read more</a>
    </div>
  </div>
</script>

<script id="report-template" type="text/x-handlers-template">
  <div class="Report Report-{{report_type}}">
    <div class="nav-block">
      <button class="back-arrow"><i class="icon-back"></i></button>
      <h2 class="title">{{title}}</h2>
      <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
    </div>
    <div class="section-wrapper">
      <div class="map"></div>
      <div class="photo-wrapper">
        <div class="Report__photo photo FullImage">
          <img class="Report__photo-img FullImage-img" src="{{image}}"/>
        </div>

        {{#if last_seen}}
        <h3 class="label">Last Seen {{last_seen_ago}} ago</h3>
        {{/if}}
      </div>
      <div class="post-description">
        <div class="header">
          <div class="face-lockup Avatar">
            <img src="{{user_avatar}}" class="Avatar-img"/>
          </div>
          <div class="content">
            <p>Posted by {{report_username}}</p>
            <p>{{created_at_ago}} ago</p>
            <p class="type">{{type}}</p>
          </div>
        </div>

        <table class="table table-stripped">
          {{#if pet_size}}
          <tr>
            <td>Size</td>
            <td>{{pet_size}}</td>
          </tr>
          {{/if}}
          {{#if color}}
          <tr>
            <td>Color</td>
            <td>{{color}}</td>
          </tr>
          {{/if}}
          {{#if breed}}
          <tr>
            <td>Breed</td>
            <td>{{breed}}</td>
          </tr>
          {{/if}}
          {{#if sex}}
          <tr>
            <td>Sex</td>
            <td>{{sex}}</td>
          </tr>
          {{/if}}
          {{#if last_seen}}
          <tr>
            <td>Last seen</td>
            <td>{{last_seen}}</td>
          </tr>
          {{/if}}
        </table>
        <p class="description">{{notes}}</p>
        <button class="btn btn-big btn-blue Report__edit-button"><i class="icon-edit"></i>Edit Post</button>
      </div>
      <div class="social-share-wrapper">
        <p>Share this post to help find fuzzy!</p>
        <div class="buttons-wrapper">
          <button class="social-facebook"></button>
          <button class="social-twitter"></button>
          <button class="social-instagram"></button>
        </div>
      </div>
      <div class="comments-wrapper">
        <h2>Comments</h2>
        <div class="Report__comments"></div>
      </div>
      <div class="Report__comment-form"></div>
    </div>
  </div>
</script>

<script id="report-comment-template" type="text/x-handlers-template">
  <div class="Comment {{head_class}}">
    <div class="Comment__header">
      <div class="Comment__header-avatar Avatar">
        <img src="{{avatar}}" class="Avatar-img"/>
      </div>
      <div class="Comment__header-content">
        <p>Posted by {{comment_username}}</p>
        <p>{{created_at_ago}} ago</p>
      </div>
    </div>
    {{#if image }}
    <div class="Comment__image">
      <img class="Comment__image-img" src="{{image}}"/>
    </div>
    {{/if}}
    <div class="Comment__description">
      <p class="Comment__description-content">{{content}}</p>
      {{#if hasLocation }}
      <div class="Comment__description-location">
        <a href="javascript:void(0)" class="Comment__description-locationLink">
          <span class="Comment__description-locationMarker">{{locationLabel}}</span>Location point added
        </a>
      </div>
      {{/if}}
    </div>
  </div>
</script>

<script id="comment-form-template" type="text/x-handlers-template">
  <form class="CommentForm post-comment">
    <h2>Post Your Comment</h2>
    <textarea placeholder="Type Here" name="content" row="4" class="CommentForm-input textarea form-control"></textarea>

    <div style="background-image: url('<%= image_url('dog-demo-2.png') %>')" class="photo-wrapper">
      <button class="btn-remove"></button>
    </div>
    <div class="location-wrapper">
      <div class="map"></div>
      <div class="btn-remove"></div>
    </div>
    <div class="row">
      <div class="CommentForm__map"></div>
    </div>
    <div class="row">

    </div>
    <div class="row">
      <div class="col-xs-6">
        <label class="CommentForm__upload btn btn-small btn-blue btn-photo Uploader">
          Upload Photo
          <input type="file" name="image" ref="upload" class="CommentForm-input Uploader-input"/>
        </label>
      </div>
      <div class="col-xs-6">
        <button type="button" class="CommentForm__location btn btn-small btn-blue">Add a Location</button>
      </div>
    </div>
    <button type="submit" class="CommentForm__submit btn btn-xbig btn-blue">Post</button>
  </form>
</script>

<div class="notifications"></div>

<%= render 'templates/report_create' %>

