<div class="file-view-wrapper Profile">
  <div class="nav-block nav-block-blue-dark"><a href="main.html" class="brand-logo"><i class="icon-logo"></i></a>
    <h2 class="section-title fuzz-file">Fuzz<span class="alt">Profile</span></h2>
    <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
  </div>
  <div class="top-profile-wrapper">
    <div class="locker Profile__locker">
      <div class="blured-profile Profile__locker-wrapper">
        <img src="<%= current_user.image.url %>" class="Profile__locker-img"/>
      </div>
    </div>
    <div class="photo-profile Profile__photo">
      <img src="<%= current_user.image.url %>" class="Profile__phot-img"/>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <td>Name</td>
      <td><%= current_user.username %> </td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td><%= current_user.email %> </td>
    </tr>
    <tr>
      <td>Zip Code</td>
      <td><%= current_user.zipcode %> </td>
    </tr>
    <tr>
      <td>FuzzAlert</td>
      <td>1.5 miles</td>
    </tr>
    <tr>
      <td>Wags</td>
      <td>35</td>
    </tr>
  </table>
  <!-- <div class="social-buttons"> -->
  <!--   <button class="btn btn-facebook to-connect"><i class="icon-facebook"></i>Link Facebook account</button> -->
  <!--   <button class="btn btn-twitter to-connect"><i class="icon-twitter"></i>Link Twitter account</button> -->
  <!-- </div> -->
  <button data-route="profile/edit" class="btn btn-blue btn-big">
    <i class="icon-edit"></i>Edit Profile & Settings
  </button>
  <div class="file-edit-wrapper"></div>
</div>

<script id="profile-edit-template" type="text/x-handlers-template">
  <div class="ProfileEdit">
    <div class="nav-block nav-block-blue">
      <button class="back-arrow"><i class="icon-back"></i></button>
      <h2 class="title"> EDITING PROFILE</h2>
      <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
    </div>
    <h3 class="settings-title">Profile info</h3>
    <div class="ProfileEdit__photo profile-edit-wrapper">
      <div id="photo-holder" class="ProfileEdit__photo-wrapper">
        <img class="ProfileEdit__photo-container" src="<%= current_user.image.url %>"/>
      </div>
      <label class="ProfileEdit__upload btn btn-small btn-blue">
        Upload Photo
        <input type="file" name="image" ref="upload" class="ProfileEdit-input ProfileEdit__upload-uploader"/>
      </label>
    </div>
    <form id="general-settings" class="profile-edit-wrapper">
      <div class="form-group">
        <label for="user-name" class="input-label">Name</label>
        <input id="user-name" value="<%= current_user.username %>" name="username" class="input form-control ProfileEdit-input"/>
      </div>
      <div class="form-group">
        <label for="email" class="input-label">E-mail</label>
        <input id="email" value="<%= current_user.email %>" name="email" class="input form-control ProfileEdit-input"/>
      </div>
      <div class="form-group">
        <label for="zipcode" class="input-label">Zip Code</label>
        <input id="zipcode" value="<%= current_user.zipcode %>" name="zipcode" class="input form-control ProfileEdit-input"/>
      </div>
    </form>
    <h3 class="settings-title">Password</h3>
    <form id="password-settings" class="profile-edit-wrapper">
      <div class="form-group">
        <input placeholder="Old password" name="old_password" class="input form-control ProfileEdit-input"/>
      </div>
      <div class="form-group">
        <input placeholder="New password" name="new_password" class="input form-control ProfileEdit-input"/>
      </div>
      <div class="form-group">
        <input placeholder="Confirm password" name="confirm_password" class="input form-control ProfileEdit-input"/>
      </div>
    </form>
    <h3 class="settings-title">Notifications</h3>
    <form id="notification-settings" class="profile-edit-wrapper">
      <div class="Select">
        <select class="Select-input ProfileEdit-input" name="notifications" placeholder="Notifications">
          <option value="">Notifications</option>
          <option value="1.5">1.5 miles</option>
          <option value="5">5 miles</option>
          <option value="10">10 miles</option>
        </select>
      </div>
    </form>
    <button class="btn btn-down btn-down-small btn-green ProfileEdit-submit">Update profile</button>
  </div>
</script>

<script>
  window.__INITIAL_STATE__ = {
    user: <%= current_user.to_json.html_safe %>
  }
</script>
