<div data-target=".<%= report.report_type %>-pet-post-wrapper" data-toggle="show" class="post <%= report.report_type %>-post btn-toggler small-report-card
<%= report.img_url? ? "" : "placeholder-#{report.animal_type.downcase}" %>"
data-report-id="<%= report.id %>">
  <h3 class="title"><%= report.report_type.capitalize %> <%=report.animal_type.capitalize %></h3>
  <% if report.img_url? %>
    <div class="photo-holder" style="background-image: url('<%= report.img_url %>')"></div>
  <% else %>
    <div class="photo-holder"></div>
  <% end %>
  <div class="content-holder">
    <table>

      <% unless report.last_seen.nil? %>
        <tr>
          <td>Last Seen</td>
          <td><%= l report.last_seen, format: :short %></td>
        </tr>
      <% end %>

      <tr>
        <td>Posted by</td>
        <td><%= report.user.username %></td>
      </tr>
    </table><a data-target=".<%= report.report_type %>-pet-post" class="read-more">Read more</a>
  </div>
</div>

