<div data-target=".<%= report.report_type %>-pet-post-wrapper" data-toggle="show" class="post <%= report.report_type %>-post btn-toggler placeholder-<%= report.animal_type.downcase %>">
    <h3 class="title"><%= report.report_type.capitalize %> <%=report.animal_type.capitalize %></h3>
    <div class="photo-holder"></div>
    <div class="content-holder">
        <table>

            <% unless report.last_seen.nil? %>
              <tr>
                  <td>Last Seen</td>
                  <td><%= l report.last_seen, format: :short %></td>
              </tr>
            <% end %>

            <tr>
                <td>Posted by</td>
                <td><%= report.user.username %></td>
            </tr>
        </table><a data-target=".<%= report.report_type %>-pet-post" class="read-more">Read more</a>
    </div>
</div>
