<div class="nav-block nav-block-orange">
  <btn class="back-arrow"><i class="icon-back"></i></btn>
  <h2 class="title"> Lost <%= @report.animal_type %></h2>
  <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
</div>
<div class="section-wrapper">
  <div class="map map-lost"></div>
  <div class="photo-wrapper photo-wrapper-purple placeholder-dog">
    <% if report.img_url? %>
      <div class="photo" style="background-size: initial; background-image: url('<%= image_url(report.img_url) %>')"></div>
    <% else %>
      <div style="background-image: url('<%= image_url('user-picture-3.png') %>')" class="face-lockup"></div>
    <% end %>
    <% unless report.last_seen.nil? %>
      <h3 class="label">Last Seen <%= time_ago_in_words report.last_seen %> ago</h3>
    <% end %>
  </div>
  <div class="post-description">
    <div class="header">
      <% if report.img_url? %>
        <div style="background-image: url('<%= image_url('user-picture-3.png') %>')" class="face-lockup"></div>
      <% else %>
        <div style="background-image: url('<%= image_url('user-picture-3.png') %>')" class="face-lockup"></div>
      <% end %>
      <div class="content">
        <p>Posted by <%= report.user.username %></p>
        <p><%= time_ago_in_words report.created_at %> ago</p>
        <p class="type">Lost <%= @report.animal_type %></p>
      </div>
    </div>

    <table class="table table-stripped">
      <% if @report.pet_size.present? %>
        <tr>
          <td>Size</td>
          <td><%= @report.pet_size %></td>
        </tr>
      <% end %>
      <% if @report.color.present? %>
        <tr>
          <td>Color</td>
          <td><%= @report.color %></td>
        </tr>
      <% end %>
      <% if @report.breed.present? %>
        <tr>
          <td>Breed</td>
          <td><%= @report.breed %></td>
        </tr>
      <% end %>
      <% if @report.sex.present? %>
        <tr>
          <td>Sex</td>
          <td><%= @report.sex %></td>
        </tr>
      <% end %>
      <% unless report.last_seen.nil? %>
        <tr>
          <td>Last seen</td>
          <td><%= l report.last_seen, format: :short %></td>
        </tr>
      <% end %>
    </table>
    <p class="description"><%= @report.notes %></p>
    <button class="btn btn-big btn-blue"><i class="icon-edit"></i>Edit Post</button>
  </div>
  <div class="social-share-wrapper">
    <p>Share this post to help find fuzzy!</p>
    <div class="buttons-wrapper">
      <button class="social-facebook"></button>
      <!-- <button class="social-twitter"></button>
      <button class="social-instagram"></button> -->
    </div>
  </div>
  <div class="comments-wrapper">
    <h2>Comments</h2>
    <div id="comments">
      <%= render @report.comments %>
    </div>
  </div>
  <%= render 'comments/form', report: @report %>
</div>
